@charset "UTF-8";

/* MENU */
@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 2rem;
    }
    
    .logo a img {
        max-width: 30px;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        color: var(--cor04);
        cursor: pointer;
    }.mobile-menu-icon button:hover{
        border: 1px solid var(--cor04);
        border-radius: 3px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        margin: 0.2rem;
    }
    .open {
        display: block;
    }
}

/* HOME */
@media screen and (min-width: 768px) {
    .home {
        background-position: center center;
    }
    .conteudo {
        width: 75vw;
        height: 550px;
    }
}

/* SIRACUSA */
@media screen and (min-width: 768px) {
    .siracusa {
        height: 240px;
    }
}

@media screen and (min-width: 992px) {
    .siracusa {
        height: 420px;
    }
}

/* LIVRO */
@media screen and (min-width: 768px) {
    .cardLivro {
        width: 20.5vw;
    }
    .livro-conteudo {
        width: 75vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .livro-resumo {
        width: 40vw;
    }
    .livro-resumo p {
        font-size: 1.5rem;
    }

    
    .livro-capa img {
        width: 20.1vw;
        border-radius: 1%;
    }
}

/* TITULO AGENDA */
@media screen and (min-width: 768px) {
    .title-agenda-conteudo {
        font-size: 1.7em;
    }
}

/* AGENDA */
@media screen and (min-width: 768px) {
    .agenda-conteudo-item {
        width: 75vw;
    }
    .shows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .shows-conteudo-item {
        width: 300px;
    }
}

/* CONTATO */
@media screen and (min-width: 768px) {
    .form-container {
        width: 45vw;
    }
    .form-container .form-submit-btn {
        width: 160px;
    }
}