@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    /* PALETA DE CORES */
    --cor01: #002B64;
    --cor02: #20448C;
    --cor03: #008CDB;
    --cor04: #B6E4FF;
    --cor05: #212121;
    --cor06: #757575;
    --cor07: #CCCCCC;
    --cor08: #EDEDED;
    --cor09: #EB8813;
    --cor10: #EBA513;

    /* FONTES */
    --font01: "Arsenal SC", sans-serif;
    --font02: "Bebas Neue", sans-serif;
    --font03: "Jesofin Sans", sans-serif;
    --font04: "Dosis", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font01);
}

html body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor05);
    height: 100vh;

}

/* MENU */
header {
    background-color: var(--cor01);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.582);
}
.menu {
    overflow: hidden;
    position: sticky;
    top: 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 65px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo a img {
    max-width: 35px;
}

.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor04);
    font-weight: 400;
    padding: 10px;
    transition-duration: 0.5s;
}
.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
/* MENU */

/* HOME */
.home {
    background: url(../midias/home.png) no-repeat;
    background-position: left center;
    background-size: cover;

    display: flex;
    justify-content: center;
}
.conteudo {
    width: 65vw;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.conteudo-texto h1 {
    color: var(--cor08);
    text-align: center;
}
.conteudo-img > a > img {
    width: 80%;
}
/* HOME */

/* SIRACUSA */
.siracusa {
    background: url(../midias/siracusa.png) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 140px;
}
/* SIRACUSA */

/* LIVRO */
.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.livro-conteudo {
    margin: 10px;
    width: 65vw;
    background-color: #e9f2f775;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardLivro {
    width: 50vw;
    background: rgb(255, 255, 255);
    border-radius: 0.7em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.3em solid;
}
.cardLivro:hover {
    border: var(--cor02) 0.3em solid;
}
.livro-capa {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.livro-capa img {
    width: 100%;
    border-radius: 2%;
}

.livro-resumo {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.livro-resumo p {
    text-align: justify;
    padding: 10px;
    color: var(--cor07);
}

.readmore-btn {
    width: fit-contentd;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--cor03);
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    margin: 10px;
    gap: 0px;
    transition: all 0.4s;
  }
  .book-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 45px;
    height: 100%;
  }
  .book-wrapper .book-page {
    width: 50%;
    height: auto;
    position: absolute;
  }
  .readmore-btn:hover .book-page {
    animation: paging 0.7s linear infinite;
    transform-origin: left;
  }
  .readmore-btn:hover {
    background-color: var(--cor01);
  }
  @keyframes paging {
    0% {
      transform: rotateY(0deg) skewY(0deg);
    }
    50% {
      transform: rotateY(90deg) skewY(-20deg);
    }
    100% {
      transform: rotateY(180deg) skewY(0deg);
    }
  }
  .text-livro {
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
/* LIVRO */

/* TITULO AGENDA */
.title-agenda-conteudo {
    background-color: var(--cor01);
    text-align: center;
    padding: 15px;
    color: var(--cor04);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.582);
}
/* TITULO AGENDA */

/* AGENDA */
.agenda {
    background: url(../midias/banner2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
}
.agenda-conteudo {
    background-color: #008CDB45;
    width: 100vw;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.agenda-conteudo-item {
    width: 65vw;
}

.shows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* **** */
.container {
    padding: 10px;
    margin: 0 auto;
}
  
.card {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    background: var(--cor01);
    border-radius: 19px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8)
}
  
.face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.face.back {
    box-sizing: border-box;
    padding: 20px;
}
  
.face.back b {
    margin: 0;
    padding: 0;  
}

.desc {
    font-size: 1.2em;
}
.face.back .desc {
    background-color: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.face.front {
    transition: 0.7s;
}
  
.face.front b {
    margin: 0;
    padding: 0;
    font-size: 5.1em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
    z-index: 10;
    font-family: var(--font04);
    font-size: 6em;
}
  
.card:hover .face.front {
    height: 60px;
}
  
.card:hover .face.front b {
    font-size: 2em;
}
  
.face.front {
    background-color: var(--cor03);
    border-radius: 15px;
}
/* **** */

/* ***** */
.button {
    margin: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
#buy {
    padding: 0.6rem 1.3rem;
    border-radius: 6px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.111rem;
    transition: all 0.15s ease-in-out;
    background-color: var(--cor03);
}
  
#buy:hover {
    cursor: pointer;
    background-color: var(--cor02);
    color: #fff;
    scale: 0.9;
}
  
#btn_back {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    z-index: -1;
}
/* ***** */
.shows-conteudo {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.shows-conteudo-item {
    padding: 10px;
    border: 1px solid var(--cor04);
    box-shadow: 3px 3px 0px var(--cor04);
    border-radius: 5px;
}
/* AGENDA */

/* CONTATO */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
/* FORM CONTATO */
.form-container {
    width: 65vw;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,var(--cor01), var(--cor04)) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}
  
.form-container button:active {
    scale: 0.95;
}
  
.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
  
.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}
  
.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--cor04);
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}
  
.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: var(--cor04);
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}
  
.form-container .form-group input::placeholder {
    opacity: 0.5;
}
  
.form-container .form-group input:focus {
    outline: none;
    border-color: var(--cor03);
}
  
.form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--cor03);
}
  
.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}
  
.form-container .form-submit-btn:hover {
    background-color: var(--cor04);
    border-color: var(--cor04);
}
/* FORM CONTATO */
.email-contato {
    padding: 13px;
    color: var(--cor04);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes {
    display: flex;
}
.BtnFB, .BtnIG, .BtnSF, .Btn {
    margin: 10px;
}

/* BT FACEBOOK */
.BtnFB {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
  
.svgContainerFB {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BGFB {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1877f2;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}
  
.BtnFB:hover .BGFB {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.BtnFB:hover .svgContainerFB {
    border: 1px solid rgba(230, 230, 230, 0.466);
    background-color: rgba(204, 204, 204, 0.466);
    backdrop-filter: blur(4px);
}
/* BT FACEBOOK */

/* BT INSTAGRAM */
.BtnIG {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
  
.svgContainerIG {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BGIG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}
  
.BtnIG:hover .BGIG {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.BtnIG:hover .svgContainerIG {
    background-color: rgba(156, 156, 156, 0.466);
}
/* BT INSTAGRAM */

/* BT SPOTIFY */
.BtnSF {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
  
.svgContainerSF {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BGSF {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1db954;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}
  
.BtnSF:hover .BGSF {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.BtnSF:hover .svgContainerSF {
    background-color: rgba(207, 207, 207, 0.466);
    backdrop-filter: blur(4px);
}
/* BT SPOTIFY */

/* BT YOUTUBE */
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
  
.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ff0000;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}
  
.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.Btn:hover .svgContainer {
    border: 1px solid rgba(255, 110, 110, 0.466);
    background-color: rgba(219, 219, 219, 0.466);
    backdrop-filter: blur(4px);
}
/* BT YOUTUBE */
/* CONTATO */

/* RODAPÉ */
.rodape {
    background-color: var(--cor01);
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rodape-conteudo {
    text-align: center;
    color: var(--cor04);
}
/* RODAPÉ */